{% extends "header.html" %}
{% load static %}
{% block sidebar_admin_content %}
<div class="sidebar">
            <img src="{% static 'jota/images/logo.svg' %}" alt="JotaVirtual" class="logo" />
            <!-- <div class="dropdown" id="dropdown">LODGING <i class="fas fa-chevron-up" style="display:flex;"></i></div> -->
            <ol id="menu" style="display: block;">
                <li><a href="" ><i class="fas fa-chart-bar" style="margin-right: 15px;" id="clientmaster"></i> Client Master</a></li>
                <li><a href="" ><i class="fas fa-th" style="margin-right: 15px;" id="requestmaster"></i> Request Master</a></li>
            </ol>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script>
        // jQuery function to handle sidebar link clicks and highlight based on current URL
        $(document).ready(function () {
            // Get the current URL
            var currentUrl = window.location.href;

            // Loop through each sidebar link and compare its URL with the current URL
            $('#menu li a').each(function () {
                var menuUrl = $(this).attr('href');

                // Check if the current URL matches the sidebar link's URL
                if (currentUrl.includes(menuUrl)) {
                    $(this).closest('li').addClass('highlighted'); // Add 'highlighted' class to the matched link
                }
            });
        });
        </script>
        </div>
{% endblock sidebar_admin_content %}







