
{% extends "sidebar.html" %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha384-xkV7r+fsF6DMHto4td3O+kMk8PtkFsojEIfBN0Q8hSgEXqKt5aD5/4e5RN2rX1U1" crossorigin="anonymous">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<div class="layout">
    <h1 class="space">All Spaces</h1>
    <div class="about">Find and manage Your Spaces</div>
    <div class="search-box">
    <input type="text" class="search-input">
    <i class="fas fa-search" id="search"></i>
</div>
    <div class="total">{{ api_data | length }} Total Spaces</div>
    {% for space in api_data %}
    <div class="entry-layout">
        <div >
            <img src="{{ space.thumbnail }}" alt="Space Image">
        </div>
        <div class="middle-section">
            <span class="name">{{ space.name }}</span>
            <span class="address">{{ space.address.address_1}}</span><br>
            <span class="address">Created {{ space.formatted_date }}</span>
        </div>
        <div class="right-section">
            <div></i><a href="{% url 'editspace' %}" ><i class="fa-solid fa-pen" id="editicon"></i> </a></div>
            <div id="share-popup" class="hidden">
                <ul id="social-icons">
                    {% for platform, link in social_links.items %}
                        <a href="{{ link }}">
                            <img src="{% static 'jota/images/' %}{{ platform }}.png" alt="{{ platform }}" class="social_media_popup_style"/>
                        </a>
                    {% endfor %}
                </ul>
            </div>
            <i class="fa-solid fa-share-nodes" id="share-button"></i>
        </div>
    </div>
    {% endfor %}
</div>
<script>
    $(function() {
        $("#share-button").click(function() {
            // Open the popup dialog
            $("#share-popup").dialog({
                modal: true,
                width: 400,
                title: "Share",
            });
        });
    });
</script>

{% endblock content %}
