{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="head">
    <img src="{% static 'jota/images/logo.svg' %}" alt="JotaVirtual" class="logo_img"/>
</div>

<div class="border_box">
    <div class="login_description">
        <img src="{% static 'jota/images/logo.svg' %}" alt="JotaVirtual" class="des_img"/>
        <span class="des_txt">
            Take Reality<br>
            To The Next Level
        </span>
    </div>
    <div class="login_box">
        <div id="loginForm">
            <div class="login_text">Login</div>
            <form action="{% url 'space_list' %}" method="get" class="login_form" >
                  <div class="text_field">
                    <label for="Email">Email</label>
                    <input type="email" id="email" name="email" class="login-details"><br>

                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="login-details" maxlength="25"><br>
                      <span class="toggle-password" onclick="togglePasswordVisibility()" style="cursor: pointer;position: relative">
                        <i id="eyeIcon" class="fa fa-eye" aria-hidden="true" ></i>
                    </span>
                  </div>
                    <div class="remember_me">
                        <label for="rememberMe" class="checkbox-label">
                            <input type="checkbox" id="rememberMe" name="rememberMe" class="checkbox">
                            Remember Me
                        </label>
                    </div>
                  <div class="submit-div">
                      <input type="submit" value="Submit" class="submit">
                  </div>
            </form>
            <div class="bottom_content">
                <a href="javascript:void(0);" onclick="replaceFormWithMessage()" class="forget_pwd" >Forgot Password?</a>
                <div><span class="register">To Register, Please </span>
                    <a href="/matterport/#contact" class="contactlink">Contact Us</a>
                </div>
            </div>
        </div>
        <div id="forgetpasswordform" style="display: none; position: relative;">
            <div class="login_text">Forgot Password</div>
            <form action="{% url 'space_list' %}" method="get" class="login_form" >
                  <div class="text_field"><br>
                    <label for="Email">Email</label>
                    <input type="email" id="email" name="email" class="login-details"><br>
                  </div><br>
                  <div class="submit-div">
                      <input type="submit" value="Submit" class="submit">
                  </div>
            </form>
            <div class="bottom_content">
            <a href="{% url 'login' %}" class="back_btn" >Back to Login</a>
            <div>
                <span class="register">To Register, Please </span>
                <a href="/matterport/#contact" class="contactlink">Contact Us</a>
            </div>
            </div>
        </div>
    </div>
</div>

<script src="https://kit.fontawesome.com/your-font-awesome-kit.js" crossorigin="anonymous"></script>
<script>
    function togglePasswordVisibility() {
        const passwordField = document.getElementById('password');
        const eyeIcon = document.getElementById('eyeIcon');

        if (passwordField.type === 'password') {
            passwordField.type = 'text';
            eyeIcon.classList.remove('fa-eye');
            eyeIcon.classList.add('fa-eye-slash');
        } else {
            passwordField.type = 'password';
            eyeIcon.classList.remove('fa-eye-slash');
            eyeIcon.classList.add('fa-eye');
        }
    }
</script>

{% endblock content %}

