{% extends "sidebar.html" %}
{% load static %}
{% block content %}
<div>
    <div class="top-section">
        <a href="#" class="nav-text" id="brand">Customize your Brand</a>
<!--        <a href="#" class="nav-text no-underline" id="domain">Custom Domain</a>-->
        <a href="#" class="nav-text no-underline" id="management">Subscription Management</a>
        <a href="#" class="nav-text no-underline" id="billing">Billing</a>
    </div>
    <div class="inner-section">

    </div>
</div>
{% endblock content %}
