{% extends "sidebar.html" %}
{% load static %}
{% block content %}
<div>
    <div class="top-section">
        <div  class="nav-text" id="management" onclick="showContent('part1')">Subscription Management</div>
        <div  class="nav-text no-underline" id="billing" onclick="showContent('part2')">Billing</div>
    </div>
    <div class="inner-section">

         <div class="part1">
            <div>Subscription</div>
        </div>

        <div class="part2 hidden">
            <div>Billing</div>
        </div>



    </div>
</div>


<script>
    function showContent(sectionId) {
        // Hide all content sets
        var allSets = document.querySelectorAll('.inner-section > div');
        allSets.forEach(function(set) {
            set.classList.add('hidden');
        });

        // Show the selected content set
        var selectedSet = document.querySelector('.' + sectionId);
        if (selectedSet) {
            selectedSet.classList.remove('hidden');
        }
    }
</script>

{% endblock content %}
