
{% extends "sidebar.html" %}
{% load static %}
{% block content %}
<div class="box">
      <div class="heading">Jotaspace1</div>
      <div class="desc">Infopark Kakkanad Kerala 682030 India</div>

      <iframe id="matterportFrames" src='https://my.matterport.com/work/?m=prnTDzrwvA8' frameborder='0' allowfullscreen allow='xr-spatial-tracking'></iframe>

      <button id="editButton" class="edit">Edit</button>
</div>

<script>
    document.getElementById('editButton').addEventListener('click', function() {
        var editUrl = '{% url "editspace" %}';
        window.location.href = editUrl;
    });

</script>
{% endblock content %}
