{% extends "sidebar.html" %}
{% load static %}
{% block content %}
<div>
    <div class="inner-section">

        <div class="set1">
            <div class="label1">Customize Your Domain</div>
            <p class="des_label">Empower your brand with a personalized touch - create a custom domain effortlessly.</p>
            <form action="#" method="post">
                <label>Your Domain</label><br>
                <input type="text" name="domain" placeholder=" example.com" class="txt"><br><br>
                <input type="submit" value="Submit" class="sub_label">
            </form>
        </div>

    </div>
</div>
{% endblock content %}
