.outer-box{
    margin: 40px 80px 32px 319px;
    height: 713px;
    padding: 30px 43px 20px 37px;
    position: relative;
}
.section1 {
    position: absolute;
    right: 765px;
    left: 38px;
    padding: 20px 44px 0px 20px;
}
.nav-label{
    color: #03363D;
    cursor: pointer;
    text-decoration: underline;
    text-underline-offset: 21px;
    text-decoration-thickness: 3px;
    text-decoration-color: #AE0707;
    margin-left: -22px
}
.no-underline {
    text-decoration: none;
}
.section2{
    position: absolute;
    right: 81px;
    top: 93px;
}
.title{
    color: #2F3941;
    font-size: 36px;
    font-weight: 600;
}
.location{
    color: #2F3941;
    font-family: Roboto;
    font-size: 14px;
    height: 100px;
    display: flex;
    align-items: center;
}
.text{
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #2F3941;
  background: #F8F9F9;
  border-radius: 4px;
  box-sizing: border-box;
  width: 90%;
  height: 50px;
}
.label-name {
    font-weight: bold;
    margin-bottom: 14px;
    margin-top: 14px;
    display: block;
    color: #6d6d6d;
    margin-left: 3px;
    font-family: Poppins;
    font-size: 14px;
}
.accept {
  padding: 10px 25px;
  border-radius: 4px;
  background: #FF3C6D;
  color: white;
  border: None;
  cursor: pointer;
  position: absolute;
  right: 65px;
  bottom: 12px;
}
.cancel {
  padding: 10px 25px;
  border-radius: 4px;
  background: #DADADA;
  color: black;
  border: None;
  cursor: pointer;
  position: absolute;
  right: 175px;
  bottom: 12px;
}
#matterportFrame {
    width: 600px;
    height: 584px;
}
/* Media query for larger screens (adjust dimensions as needed) */
@media screen and (max-width: 1560px) {
    .section1 {
        border: 2px solid #FF3C6D;
        position: absolute;
        right: 599px;
        left: 38px;
        padding: 20px 20px 0px 20px
}
#matterportFrame {
    width: 500px;
    height: 584px;
}
}
@media screen and (max-width: 1365px) {
.section1 {
    border: 2px solid #FF3C6D;
    position: absolute;
    right: 523px;
    left: 38px;
    padding: 20px 20px 0px 20px
}
#matterportFrame {
    width: 400px;
    height: 584px;
}
}
.first-section {
    display: flex;
    justify-content: space-between;
}
.public-section{
    margin-left: -3px;
    margin-top: 109px;
    margin-bottom: 16px;
    width: 48%;
    height: 405px;
    position: relative;
    display: block;
    font-family: Poppins;
    font-size: 14px;
}
.input-line {
    border-bottom: 1px solid #000; /* Adds a line under the input */
    width: 600px; /* Adjust width as needed */
    margin-top: -22px;
    margin-bottom: 10px; /* Adds space after the input */
}
.text {
    border: none;
    outline: none;
    width: 100%;
    height: 3px;
    margin-bottom: 1px;
    background:#FFFFFF;
}
.embed {
    padding: 10px 25px;
    border-radius: 4px;
    background: #FF3C6D;
    color: white;
    border: None;
    cursor: pointer;
    position: absolute;
    right: 0px;
    bottom: 600px;
}