.box {
    margin: 40px 80px 32px 319px;
    height: 713px;
    padding: 30px 43px 20px 37px;
    position: relative;
}
.heading {
  font-weight: bold;
  font-size: 34px;
  position: absolute;
  right: 700px;
  bottom: 750px;
}
.desc {
  position: absolute;
  right: 850px;
  bottom: 651px;
}
#matterportFrames {
    width: 800px;
    height: 584px;
    display: block;
    margin: 50px auto 0;
    position: absolute;
    right: 330px;
    bottom: 20px;
}

.edit {
  padding: 10px 45px;
  border-radius: 4px;
  background: #FF3C6D;
  color: white;
  border: None;
  cursor: pointer;
  position: absolute;
  right: 330px;
  bottom: 650px;
}